.title {
    text-align: center;
}
mat-form-field {
    margin-right: 12px;
}

.calculate {
    position:relative;
    top: 14px;
    padding: 10px;
}

.loanCalculator {
    position: absolute;
    left: 30%
}

.input {
    padding: 10px;
}